
<!-- /.row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Responsive Hover Table</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
          <tr>
            <th>user</th>
            <th>montant</th>
            <th>etat</th>
            <th>matricule_Fiscal</th>
          </tr>
          </thead>
          <tbody *ngFor="let f of factures">
          <tr>
            <td>{{f.commande.u.firstName}} {{f.commande.u.lastName}} </td>
            <td>{{f.montantFacture}}</td>
            <td>{{f.active}}</td>
            <td>{{f.matricule_Fiscal}}</td>
            <td>
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
              </a>
            <td>
              <a href="#" class="nav-link">
                <i class="nav-icon fas  fa-trash-alt"></i>

              </a>
            </td>

          </tr>


          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.row -->
