
<!-- /.row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Responsive Hover Table</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
          <tr>
            <th>pays</th>
            <th>ville</th>
            <th>rue</th>
            <th>autreDetail</th>
            <th>codePostal</th>
            <th>latitude</th>
            <th>logitude</th>
          </tr>
          </thead>
          <tbody *ngFor="let a of addresses">
          <tr>
            <td>{{a.pays}}</td>
            <td>{{a.ville}}</td>
            <td>{{a.rue}}</td>
            <td>{{a.autreDetail}}</td>
            <td>{{a.codePostal}}</td>
            <td>{{a.latitude}}</td>
            <td>{{a.logitude}}</td>
            <td>
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
              </a>
            <td>
            <a href="#" class="nav-link">
              <i class="nav-icon fas  fa-trash-alt"></i>

            </a>
           </td>

          </tr>


          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.row -->
